.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  padding-bottom: 60px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 800px;
  background-image: url("https://images.pexels.com/photos/314726/pexels-photo-314726.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
h1 {
  color: rgb(11, 11, 11);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
  line-height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
h2 {
  color: rgb(11, 11, 11);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
  line-height: 35px;
  margin-left: 10px;
  margin-bottom: 20px;
}
small {
  margin-left: 14px;
}
#icon {
  width: 100px;
}
.search-engine,
.search-button {
  padding: 10px;
}
.search-engine {
  margin-right: 10px;
}
#current-button {
  padding: 10px;
  margin-top: 10px;
}
#open-source-link {
  color: rgba(4, 0, 10, 0.781);
}

.units {
  position: relative;
  font-size: 15px;
  top: -15px;
}
#celsius,
#fahrenheit {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
}
.weather-forecast {
  text-align: center;
}

.forecast-date {
  text-decoration: none;
}
.day-temp {
  font-size: 15px;
}

.author {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 20px;
  color: rgb(0, 0, 0);
}
